.blog-new
  .blog-create
    .carendar カレンダー投稿画面
    = form_with(model: @blog, local: true) do |form|
      .blog
        .blog-new-create
          .title
            = form.label :タイトル
            %br/
            = form.text_field :title
          .time
            = form.label :日付_時間
            %br/
            = form.datetime_select :start_time
          .content
            = form.label :content
            %br/
            = form.text_field :content
        .blog-tweet
          .blog-tweet-image
            = image_tag @tweet.image.url
          %br/
          .blog-tweet-title
            = @tweet.title
          %br/
          .blog-tweet-title
            = @tweet.text
      .submit
        = form.submit
    
