.view
  .top-main
    .top-main-view
      .cp_cssslider
        %input#photo1{:checked => "checked", :name => "cp_switch", :type => "radio"}/
        %label{:for => "photo1"}
          = image_tag asset_path("img1.jpg")
        = image_tag asset_path("img1.jpg")
        %input#photo2{:name => "cp_switch", :type => "radio"}/
        %label{:for => "photo2"}
          = image_tag asset_path("img2.jpg")
        = image_tag asset_path("img2.jpg")
        %input#photo3{:name => "cp_switch", :type => "radio"}/
        %label{:for => "photo3"}
          = image_tag asset_path("img3.jpg")
        = image_tag asset_path("img3.jpg")
        %input#photo4{:name => "cp_switch", :type => "radio"}/
        %label{:for => "photo4"}
          = image_tag asset_path("img4.jpg")
        = image_tag asset_path("img4.jpg")
        %input#photo5{:name => "cp_switch", :type => "radio"}/
        %label{:for => "photo5"}
          = image_tag asset_path("img5.jpg")
        = image_tag asset_path("img5.jpg")
