.Title
  .Title__bar
    = image_tag asset_path("logo.jpg", alt: "Cuisine")
    .Title__bar__name
      Cuisine
  .Title__menu
    - if user_signed_in?
      .user_nav
        %span
          = current_user.nickname
          様
        %ul.user__info
          %li
            = link_to "トップページ", tweets_path
            = link_to "マイページ", "/users/#{current_user.id}"
            = link_to "ログアウト", destroy_user_session_path, method: :delete
            = link_to "投稿する", new_tweet_path, class: "post"
    - else
      .New
        = link_to "ログイン", new_user_session_path, class: "login"
        = link_to "新規登録", new_user_registration_path, class: "sign-up"
