.Title
  .Title__bar
    = image_tag src="/assets/logo.jpg", alt: "Cuisine"
    .Title__bar__name
      Cuisine
  .Title__menu
    = link_to new_tweet_path(@tweets), class: "article" do
      <i class="far fa-edit"></i>
      献立を書く
    = link_to new_tweet_path(@tweets), class: "movie" do
      <i class="fas fa-video"></i>
      料理動画
    = link_to new_tweet_path(@tweets), class: "Ranking" do
      <i class="fas fa-chess-queen"></i>
      レシピランキング
    = link_to edit_user_path(current_user),class: "login-btn" do
      ログイン画面
