.wrapper
  = render "title_bar"
  = render "search-box"
  .Signin
    - if user_signed_in?
      = render "signed_main"
      = render "introduction"
    - else 
      = render "main_chat"
#js-grid-juicy-projects
  /@closetsをrender先でそれぞれを取り出してclosetとして渡す
  = render @tweets