.wrapper
  = render "title_bar"
  = render "search-box"
  .search-index
    検索結果
    .images
      - @tweets.each do |tweet|
        .article
          = link_to tweet_path(tweet.id) ,class: "article-link" do
            = image_tag tweet.image.url,class: "article-uplord-image"
            %br/
            .article-title
              = tweet.title